doctype html
html
    head
        title Todo
        link(rel='stylesheet' href='https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css')
    
    body
        include navbar
        table.table(style='width:70%; margin:10% 15%')
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Name
                    th(scope='col') Description
                    th(scope='col') Created At
                    th(scope='col') Options
            tbody
                - let count = 1;
                each todo in todos
                    tr
                        td(scope='row')= count++
                        td(scope='row')= todo.name
                        td(scope='row')= todo.description
                        td(scope='row')= todo.createdAt.toLocaleString()
                        td(scope='row')
                            a(href='#' onclick=`deleteTodo('${todo._id}')`) Delete
                            | &ensp;
                            a(href=`/todo/edit/${todo._id}` id='update-todo') Edit
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js')
    script(src='/js/todo.js')